@page "/sobre"

<PageTitle>Sobre</PageTitle>

<h3>Sobre</h3>

<p>Estou na página sobre</p>

<MinhaLista Titulo="Lista do Sobre" Itens="Sobre o .net;Sobre a Microsoft;Sobre o DevOps;Sobre a vida;Sobre 42"></MinhaLista>

